.tag {
  padding: 5px 7px;
  background: #f25e7f;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.tag-inner {
  color: #fff;
  font-size: 12px;
}

.tag-card {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
