.setting {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.setting-option,
.setting-filter {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 5px;
  background: rgba(0, 0, 0, 0.03);
}

.setting-option span,
.setting-filter span {
  font-size: 14px;
  color: #252728;
}

.setting-option-wrapper {
  position: relative;
}
.option-list {
  display: none;
  width: 100%;
  position: absolute;
  top: 45px;
  list-style-type: none;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  z-index: 9;
  box-shadow: 0px 1px 4px 0px #000;
}

.option-list-active {
  display: block;
}

.setting-arrow-down-active {
  transform: rotate(-180deg);
}

.setting-arrow-down {
  transition: 0.35s ease;
}

.option-item {
  margin-bottom: 5px;
}
