.main {
  position: relative;
  background: #f4f6fc;
  padding: 50px 20px;
}

.main-title {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  background: #f25e7f;
  margin-bottom: 20px;
}

.main-descr {
  font-size: 16px;
  line-height: 20px;
  color: #969caf;
}

.main-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}
