.search {
  padding: 10px 20px;
}

.form {
  display: flex;
}

.form-input {
  width: 100%;
  height: 100%;
  padding: 7px 7px 7px 30px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  outline: none;
  font-size: 14px;
}

.form-input:focus {
  border: 1px solid #40bfff;
}

.form-controll {
  position: relative;
  margin-right: 5px;
  flex: 1;
}

.form-controll img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.form-btn {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background: #40bfff;
  border: none;
  outline: none;
}
