.search {
  padding: 10px 20px;
}

.search-form {
  display: flex;
}

.search-form-controll {
  position: relative;
  flex: 1;
}

.search-form-controll img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
