.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-block {
  display: flex;
  gap: 20px;
}

.header-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #252728;
}

.text-btn {
  font-size: 14px;
  line-height: 24px;
  color: #969caf;
  border: none;
  outline: none;
  background: transparent;
}
