.container {
  margin: 0 auto;
  max-width: 1200px;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 100%;
  z-index: 1000;
}

.input {
  max-width: 500px;
  width: 100%;
  padding: 14px 10px 14px 44px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}

.input:focus {
  border: 1px solid #40bfff;
}
