.custom-btn {
  width: 100%;
  padding: 15px 0px;
  border-radius: 6px;
  border: none;
  outline: none;
  max-width: 500px;
  cursor: pointer;
}

.primary {
  background: #40bfff;
  color: #fff;
}

.secondary {
  background: #fff;
  color: #40bfff;
  border: 1px solid #40bfff;
}

.secondary-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.prevent {
  background: rgb(183, 188, 204, 0.3);
  color: #969caf;
}

.category-btn-padding {
  padding: 10px 3px;
}
